 .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 800px;
    /* position:relative; */
}
.hero{
    background: url("../img/ba1.jpg");
    
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
    
}
.hero-description {
    position: relative;
    color:white;
    text-align: right;
   
    width: 100%;
}

.logo {
    width: 96px;
    vertical-align: middle;
   margin-left: 5%;
}
.navbar  {
    background-color: #353A40; 
   
}
.navbar .navbar-nav  {
    justify-content: space-between; 
    /* width: 100%; */
   
}
.navbar .navbar-collapse {
    align-items: end;
    justify-content: space-around;
    padding-left: 10%;
}

.navbar .nav-link {
   color:rgb(128, 124, 124);
}

.navbar .nav-link:hover {
    color: white;
    cursor: pointer;
}

.navbar .nav-link.tickets {
    color:#28A745;
 }
 
 .navbar .nav-link.tickets:hover {
     color: yellowgreen;
     cursor: pointer;
}

.navbar .nav-text{

    color: white;
 
}

.navbar .nav-text:hover{
    color:yellow;
    cursor: pointer;
}
.navbar-toggler {
    border: 2px solid rgb(128, 124, 124) !important;
}
    


